/node_modules
/public/hot
/public/storage
/public/ThirdEyeSpies.mp4
/storage/*.key
/storage/app
/storage/logs
/storage/framework/cache
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
README.txt
test.http
/.idea
/.vscode
