@tailwind base;
@tailwind components;

.videoContainer {
    position:relative;
    top: -4rem;
    left:0;
    width:100%;
}
.videoFullPage {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    background-color: black;
}
.videoTopRight {
    position:absolute;
    top: 4rem;
    right:0;
    padding:10px;
    width:24em;
    background-color: black;
}

@tailwind utilities;

