@tailwind base;
@tailwind components;

#topDiv {
    padding-top: 4px;
}
.videoZ {
    z-index:1;
}
.nav-mask {
    z-index:300;
}
.welcomeOverlay {
    z-index: 500;
}
.channelsSelectMenu {
    z-index: 500;
}
.channelDisabled {
    background-color: #48776e;
}
/*.videoBgFull {*/
/*    position:static;*/
/*    bottom:0;*/
/*    left:0;*/
/*    width:100%;*/
/*    height:100%;*/
/*    z-index:1;*/
/*    background-color: yellow;*/
/*}*/
/*.videoContainerBgFull {*/
/*    position: static;*/
/*    top: 0px;*/
/*    left: 0px;*/
/*    width:100vw;*/
/*    height:100vh;*/
/*    z-index:1;*/
/*}*/
.fullPageVideoClass {
    position:fixed;
    top: 0;
    left: 0;
    min-width:100vw;
    max-width:100vw;
    min-height:100vh;
    max-height:100vh;
    z-index:40;
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    /*align-content: flex-start;*/
    background-color: black;
}

@media (orientation: landscape) {
    .fullPageVideoClassMobile {
        position:fixed;
        top: 0;
        left: 0;
        right:0;
        min-width:100vw;
        min-height:100vh;
        max-height:calc(100vh - 4rem);
        z-index:40;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        background-color: black;

    }
}
@media (orientation: portrait) {
    .fullPageVideoClassMobile {
        position:fixed;
        top: 4rem;
        left: 0;
        /*padding-top:56.25%;*/
        /*min-height:calc(50vh - 5.5rem);*/
        /*min-height:calc(56.25% - 4rem);*/
        min-width:100vw;
        /*max-height:calc(100vh - 8rem);*/
        padding-top: 56.25%;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        background-color: dodgerblue;
    }
}

.fullPageVideoClass.desktop {
    min-height:100vh;
    max-height:100vh;
}

.fullPageVideoContainer {
    position: fixed;
    top: 0;
    right: 0;
    left:0;
    /*min-width:100vw;*/
    /*max-width:100vw;*/
    /*min-height:100vh;*/
    padding-top: 56.25%;
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    /*align-content: flex-start;*/
    background-color: lightseagreen;
}
@media (max-width:1024px) {
    .topRightVideoClass {
        position:fixed;
        top: 4rem;
        right: 0;
        width:100%;
        /*max-width:24rem;*/
        min-width:100vw;
        /*max-width: 100vw;*/
        height:14rem;
        max-height:14rem;
        background-color: black;
    }
    .topRightVideoClass.mobile {
        position:fixed;
        top: 4rem;
        right: 0px;
        width:100%;
        /*max-width:24rem;*/
        min-width:100vw;
        /*max-width: 100vw;*/
        height:6rem;
        max-height:6rem;
        background-color: black;
    }
    .PipVideoClass {
        position:fixed;
        bottom: 6rem;
        right: 1rem;
        width:50vw;
        /*max-width:24rem;*/
        min-width:50vw;
        /*max-width: 100vw;*/
        height:6rem;
        max-height:6rem;
        background-color: purple;
        z-index: 900;

    }
    .PiPVideoContainer {
        position:fixed;
        bottom: 6rem;
        right: 1rem;
        padding-top: 56.25%;
        width:50vw;
        /*max-width:24rem;*/
        min-width:50vw;
        /*max-width: 100vw;*/
        height:6rem;
        max-height:6rem;
        background-color: purple;
        z-index: 900;

    }
}
@media (min-width:1024px) {
    .topRightVideoClass {
        position:fixed;
        top: 4rem;
        right: 0;
        width:100%;
        max-width:24rem;
        /*min-width:100vw;*/
        /*max-width: 100vw;*/
        height:14rem;
        max-height:14rem;
        background-color: black;
    }
    .topRightVideoClass.mobile {
        /*position:fixed;*/
        /*top: 4rem;*/
        /*right: 0px;*/
        /*width:100%;*/
        /*!*max-width:24rem;*!*/
        /*min-width:100vw;*/
        /*!*max-width: 100vw;*!*/
        /*height:6rem;*/
        /*max-height:6rem;*/
        /*background-color: black;*/
    }
}

.topRightVideoContainer {
    position: fixed;
    top: 0;
    right: 0;
    min-width:100vw;
    max-width: 100vw;
    background-color: purple;
}

@media (max-width:844px) {
    .fullPageVideoOSD {

        /*right: 0px;*/
        /*width:100%;*/
        /*!*max-width:24rem;*!*/
        /*min-width:100vw;*/
        /*!*max-width: 100vw;*!*/
        /*height:14rem;*/
        /*max-height:14rem;*/
        /*background-color: green;*/
    }
    .topRightVideoClass.mobile {
        position:fixed;
        top: 4rem;
        right: 0;
        width:100%;
        /*max-width:24rem;*/
        min-width:100vw;
        /*max-width: 100vw;*/
        height:6rem;
        max-height:6rem;
        background-color: black;
    }
}
@media (min-width:844px) {
    .fullPageVideoOSD {
        top: 6rem;
        /*right: 0px;*/
        /*width:100%;*/
        /*!*max-width:24rem;*!*/
        /*min-width:100vw;*/
        /*!*max-width: 100vw;*!*/
        /*height:14rem;*/
        /*max-height:14rem;*/
        /*background-color: green;*/
    }
}
.fullPageVideoContainerMobile {
    position: fixed;
    top: 0;
    right: 0;
    left:0;
    /*min-width:100vw;*/
    /*max-width:100vw;*/
    /*min-height:100vh;*/
    padding-top: 56.25%;
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    /*align-content: flex-start;*/
    background-color: purple;
}
@media (orientation: portrait) {
    .videoControlsMobile {

        /*justify-content: center;*/
        /*right: 0px;*/
        /*width:100%;*/
        /*!*max-width:24rem;*!*/
        /*min-width:100vw;*/
        /*!*max-width: 100vw;*!*/
        /*height:14rem;*/
        /*max-height:100vh;*/
        /*background-color: green;*/
        top: 18rem !important;
        left:0;
        width: 100%;

    }
}
@media (orientation: landscape) {
    .videoControlsMobile {
        bottom: 3rem !important;
        margin-left: 0;
        margin-right: 0;
        padding-bottom: 0;
        right:0;
        width: 100%;
        justify-content: center;
        /*right: 0px;*/
        /*width:100%;*/
        /*!*max-width:24rem;*!*/
        /*min-width:100vw;*/
        /*!*max-width: 100vw;*!*/
        /*height:14rem;*/
        /*max-height:14rem;*/
        /*background-color: green;*/
    }
}
@media (orientation: portrait) {
    .videoFullPageMobileOSD {
        top: 15rem;
    }
}
@media (orientation: landscape) {
    .videoFullPageMobileOSD {
        top: 4rem;
    }
}
.welcomeVideoClass {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100vw;
    height:100vh;
    min-height: 100vh;
    z-index:1;
    background-color: black;
}
.welcomeVideoContainer {
    position: absolute;
    top:0;
    left: 0;
    right:0;
    bottom:0;
    width:100vw;
    height:100vh;
    min-height: 100vh;
    z-index:1;
}


.videoOTT {
    z-index: 300;
}
.OttOpen {
    z-index: 30;
}
.OttOpen.mobile {
    top:11.5rem;
}
.OttClose {
    z-index: 10;
}
/* this is the OPEN chat button */
.chatButtonForStreamPage {
    z-index: 200;
    position: fixed;
    bottom:3rem;
    right:1.5rem;
}
.channelsForStreamPageStandard {
    z-index: 200;
    position: fixed;
    top:0;
    /*bottom:2rem;*/
    right:0;
    padding: 1rem;
    min-width: 24rem;
    max-width: 24rem;
    /*old setting was full page layout... */
    /*min-width: 100vw;*/
    /*max-width: 100vw;*/
    max-height: 96rem;
}
.channelsForTopRightOtt {
    margin-bottom:100rem;
}
.playlistForStreamPageStandard {
    z-index: 200;
    position: fixed;
    top:0;
    /*bottom:2rem;*/
    right:0;
    padding: 1rem;
    min-width: 24rem;
    max-width: 24rem;
    /*old setting was full page layout... */
    /*min-width: 100vw;*/
    /*max-width: 100vw;*/
    max-height: 96rem;
}
.chatForStreamPageStandard {
    z-index: 200;
    position: fixed;
    top:0;
    /*bottom:2rem;*/
    right:0;
    padding: 1rem;
    min-width: 24rem;
    max-width: 24rem;
    max-height: 96rem;
}
.filtersForStreamPageStandard {
    z-index: 200;
    position: fixed;
    top:0;
    /*bottom:2rem;*/
    right:0;
    padding: 1rem;
    min-width: 24rem;
    max-width: 24rem;
    /*old setting was full page layout... */
    /*min-width: 100vw;*/
    /*max-width: 100vw;*/
    max-height: 96rem;
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

@media (orientation: landscape) {
    .chatForStreamPageMobile {
        z-index: 40;
        position: fixed;
        /*top:4rem;*/
        /*bottom:2rem;*/
        bottom: 4rem;
        right: 0;
        padding-left:4rem;
        min-width: 100vw;
        max-width: 100vw;
        min-height: 100vh;
        max-height: 100vh;
    }
}

@media (orientation: portrait) {
    .chatForStreamPageMobile {
        z-index: 40;
        position: fixed;
        /*top:4rem;*/
        /*bottom:2rem;*/
        bottom: 0;
        /*background: linear-gradient(to bottom, rgba(255,0,0,0), rgba(255,0,0,1));*/
        background: linear-gradient(to bottom, rgba(0,0,0,1), rgba(255,0,255,0));
        right: 0;
        top: 17rem;
        padding-bottom: 10rem;
        min-width: 100vw;
        max-width: 100vw;
        /*min-height: calc(50vh);*/
        min-height:calc(50vh + 5.5rem);
        max-height:calc(100vh - 8rem);
    }
}
/* this is the CLOSE chat button */
.chatForStreamPage button {
    z-index: 200;
    position: fixed;
    top:5rem;
    right:1rem;
}

@media (orientation: landscape) {
    .chatCloseButtonMobile {
        top: 6rem;
    }
}
@media (orientation: portrait) {
    .chatCloseButtonMobile {
        top: 18rem;
    }
}

/* this is for the chat scrollbar in chrome */
.chatChrome::-webkit-scrollbar {
    width:3px;
}
.chatChrome::-webkit-scrollbar-track {
    background: #ddd;
}
.chatChrome::-webkit-scrollbar-thumb {
    background: #aaa;
}
.chatBig {
    z-index: 200;
    position: absolute;
    top: 4rem;
    right:0;
    bottom:0;
    min-height: calc(100vh - 6rem);
    max-height: calc(100vh - 6rem);
    padding: 2px;
    min-width: 24rem;
    max-width: 24rem;
    background-color: black;
}
.chatSmall {
    z-index: 0;
    position: absolute;
    top: 0;
    right:0;
    bottom:0;
    min-height: 100vh;
    max-height: 100vh;
    padding-top: 18rem;
    min-width: 26rem;
    max-width: 26rem;
    background-color: black;
}
.chatHidden {
    display: none;
}

.OttButtonsMobile {
    /*padding-left: 2em;*/
}

@tailwind utilities;

@layer utilities {
    .pageWidth {
        margin-right: 26vw;
        z-index: 60;
        width: calc(100% - 26rem);
        margin-top: 0;
    }
    .pageWidthSmall {
        z-index: 60;
        width: 100%;
        margin-top: 14rem;
    }
    .specialPaddingRight {
        padding-right: 26rem;
    }

}
