@tailwind base;
@tailwind components;

html {
    overflow: hidden;
}
#topDiv {
    padding-top: 4px;
}
.vjs-big-play-button {
    display: none !important;
}
.vjs-play-button {
    display: none !important;
}
.videoZ {
    z-index:1;
}
.nav-mask {
    z-index:997;
}
.hamburgerMask {
    z-index: 300;
}
.menuMask {
    z-index: 998;
}
.welcomeOverlay {
    z-index: 500;
}
.layoutWelcome {
    /*@apply fixed h-screen w-full top-0 overflow-y-scroll z-50*/
    @apply fixed w-full h-full top-0
    z-10 overflow-y-scroll overscroll-x-none
}
.layoutLoggedIn {
    @apply fixed top-48 lg:top-16 lg:mt-0 pb-72 lg:pb-16 w-full lg:w-[calc(100vw-24rem)] h-full
    z-10 overflow-y-scroll overscroll-x-none
}
.chatMessages {
    z-index: 200;
}
.channelsSelectMenu {
    z-index: 500;
}
.channelDisabled {
    background-color: #48776e;
}
.specialVideoPlayerClass {
    z-index: 998;
}
.bugFullPageContainer {
    @apply fixed h-screen top-4 left-5 opacity-10 z-50
}
.bugFullPageClass {
    @apply block h-9 w-auto shrink-0
}
.news-paragraph p {
    margin-top: 0.75rem;
    margin-bottom: 10px;
    padding-top: 2rem;
    @apply text-xl flex flex-wrap overscroll-x-none w-fit break-words;
}
.news-paragraph ul,
.news-paragraph ol {
    padding: 0 1rem;
}
h1 {
    @apply text-4xl
}
h2 {
    @apply text-3xl
}
h3 {
    @apply text-2xl
}

/* VIDEO CONTAINERS AND CLASSES*/
/*****************************************/
/*!**!  ---- THE NEW LAYOUT STYLING ---- */
/*!**!        MOBILE AND TABLET          */
/*!**!   :desktop and standard (below)   */
/*****************************************/

/* Begin Mobile and Tablet */
@media (max-width:1024px) {
    .welcomeVideoContainer {
        position: absolute;
        top:0;
        left: 0;
        right:0;
        bottom:0;
        width:100vw;
        height:100vh;
        min-height: 100vh;
        z-index:1;
    }
    .welcomeVideoClass {
        position:absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        width:100vw;
        height:100vh;
        min-height: 100vh;
        z-index:1;
        background-color: black;
    }
    .fullPageVideoContainer {
        position: fixed;
        top: 4rem;
        left: 0;
        /*right:0;*/
        /*padding-top:56.25%;*/
        /*min-height:calc(50vh - 5.5rem);*/
        /*min-height:calc(56.25% - 4rem);*/
        min-height:calc(50vh - 5rem);
        width:100vw;
        /*min-height:100vh;*/
        /*max-height:calc(100vh - 4rem);*/
        /*z-index:900;*/
        /*max-height:calc(100vh - 8rem);*/
        /*padding-top: 56.25%;*/
        /*display: flex;*/
        /*flex-wrap: wrap;*/
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        background-color: dodgerblue;
    }
    .fullPageVideoClass {
        position: fixed;
        top: 4rem;
        left: 0;
        /*right:0;*/
        /*padding-top:56.25%;*/
        /*min-height:calc(50vh - 5.5rem);*/
        /*min-height:calc(56.25% - 4rem);*/
        min-height:calc(50vh - 5rem);
        width:100vw;
        /*min-height:100vh;*/
        /*max-height:calc(100vh - 4rem);*/
        /*z-index:900;*/
        /*max-height:calc(100vh - 8rem);*/
        /*padding-top: 56.25%;*/
        /*display: flex;*/
        /*flex-wrap: wrap;*/
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        background-color: black;
    }
    .topRightVideoContainer {
        position: fixed;
        top: 4rem;
        left: 0;
        right: 0;
        margin: auto;
        /*padding: 0;*/
        /*min-width:16rem;*/
        /*width:6rem;*/
        width:100vw;
        min-height:6rem;
        max-height:6rem;
        /*display: flex;*/
        /*flex-wrap: wrap;*/
        /*align-content: flex-start;*/
        /*justify-items: center;*/
        background-color: black;
    }
    .topRightVideoClass {
        /*position: fixed;*/
        top: 4rem;
        left: 0;
        right: 0;
        margin: auto;
        /*padding: 0;*/
        /*width:100%;*/
        /*max-width:24rem;*/
        /*min-width:16rem;*/
        width:6rem;
        max-width:6rem;
        /*max-width: 100vw;*/
        /*min-height:4rem;*/
        /*max-height:4rem;*/
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: center;
        background-color: black;
    }
    .pipVideoContainer {
        position: fixed;
        /*top: 24rem;*/
        bottom: 4rem;
        right: 2rem;
        /*min-height:calc(50vh - 5.5rem);*/
        /*min-height:calc(56.25% - 4rem);*/
        /*min-height:calc(50vh - 50rem);*/
        width:50vw;
        padding-top:56.25%;
        /*height:10rem;*/
        /*min-height:100vh;*/
        /*max-height:calc(100vh - 4rem);*/
        /*z-index:900;*/
        /*max-height:calc(100vh - 8rem);*/
        /*padding-top: 56.25%;*/
        /*display: flex;*/
        /*flex-wrap: wrap;*/
        /*display: flex;*/
        /*flex-wrap: wrap;*/
        /*align-content: flex-start;*/
        background-color: dodgerblue;
    }
    .pipVideoClass {
        position: fixed;
        /*top: 24rem;*/
        bottom: 4rem;
        right: 2rem;
        /*right:0;*/
        /*padding-top:56.25%;*/
        /*min-height:calc(50vh - 5.5rem);*/
        /*min-height:calc(56.25% - 4rem);*/
        /*min-height:calc(50vh - 50rem);*/
        width:50vw;
        padding-top:56.25%;
        /*height:10rem;*/
        /*min-height:100vh;*/
        /*max-height:calc(100vh - 4rem);*/
        /*z-index:900;*/
        /*max-height:calc(100vh - 8rem);*/
        /*padding-top: 56.25%;*/
        /*display: flex;*/
        /*flex-wrap: wrap;*/
        /*display: flex;*/
        /*flex-wrap: wrap;*/
        /*align-content: flex-start;*/
        opacity: 0.8;
    }
    .bugTopRightContainer {
        @apply opacity-10
    }
    .bugTopRightClass {
        z-index: 900;
        @apply hidden fixed right-2 top-20 w-10 mr-4
    }
    .osdFullPage {
        top: calc(100vh - 50%);
        @apply fixed flex flex-col align-top justify-start w-full h-1/2 left-0 right-0 px-5 drop-shadow z-50
    }
    .videoControls {
        z-index: 200;
        top: calc(100vh - 57%);
        /*padding-top: 56.25%;*/
        @apply fixed flex flex-row justify-center left-0 right-0 mx-auto space-x-4 w-full
    }
    .backToPage {
        z-index: 200;
        top: calc(100vh - 50%);
        @apply fixed w-fit right-6 p-2 drop-shadow bg-gray-800 text-white hover:bg-gray-600
    }
    .ottButtonsContainer {
        z-index: 200;
        @apply fixed flex flex-row justify-center left-0 right-0 mx-auto space-x-4 bottom-4 w-full
    }
    .channelsFullPageContainer {
        z-index: 200;
        height:calc(100vh - 4rem);
        top: 4rem;
        @apply fixed w-full bottom-0 right-0 left-0 pb-12 bg-opacity-80 bg-green-600 text-sm text-white
        overflow-y-auto scroll-smooth hover:scroll-auto break-words
    }
    .channelsCloseButton {
        @apply fixed bottom-5 left-0 right-0 mx-auto opacity-100 w-fit h-12 p-4 rounded-full
        text-gray-50 bg-green-900 hover:bg-green-800
        cursor-pointer font-semibold text-xs
    }
    .playlistFullPageContainer {
        z-index: 200;
        height:calc(100vh - 4rem);
        top: 4rem;
        @apply fixed w-full bottom-0 right-0 left-0 px-1 pb-12 bg-opacity-80 bg-orange-600 text-sm text-white
        overflow-y-auto scroll-smooth hover:scroll-auto break-words
    }
    .playlistCloseButton {
        @apply fixed bottom-5 left-0 right-0 mx-auto opacity-100 w-fit h-12 p-4 rounded-full
        text-gray-50 bg-orange-900 hover:bg-orange-800 cursor-pointer font-semibold text-xs
    }
    .chatFullPageContainer {
        z-index: 40;
        min-height:calc(50vh + 1rem);
        /*padding-top: 56.25%;*/
        @apply absolute w-full bottom-0 right-0 px-6 pb-12 bg-opacity-80 text-sm text-white
        overflow-y-auto scroll-smooth hover:scroll-auto break-words
    }
    .chatFullPageInput {
        @apply fixed w-full flex flex-row left-0 right-0 mx-auto p-2 mb-2 text-black border-2 border-gray-800 hover:border-blue-800 focus:outline-none
    }
    .chatCloseButton {
        z-index: 60;
        @apply fixed top-1/2 right-2 opacity-80 w-16 px-2 py-2 w-fit rounded-full bg-orange-800
        text-gray-50 hover:bg-blue-800 hover:text-blue-200
        cursor-pointer font-semibold text-xs
    }
    .filtersFullPageContainer {
        z-index: 200;
        height:calc(100vh - 4rem);
        top: 4rem;
        @apply fixed w-full bottom-0 right-0 left-0 px-1 pb-12 bg-opacity-80 bg-yellow-600 text-sm text-white
        overflow-y-auto scroll-smooth hover:scroll-auto break-words
    }
    .filtersCloseButton {
        @apply fixed bottom-5 left-0 right-0 mx-auto opacity-100 w-fit h-12 p-4 rounded-full
        text-gray-50 bg-yellow-600 hover:bg-yellow-500 cursor-pointer font-semibold text-xs
    }
    .ottTopRightDisplay {
        @apply fixed top-40 right-0 h-full w-full mt-7 px-2 overflow-y-scroll scrollbar-hide z-50 border-t border-gray-900
    }
}
/* End Mobile and Tablet */


/*!**!    ^^^^ mobile and tablet ^^^^    */
/*****************************************/
/*!**!  ---- THE NEW LAYOUT STYLING ---- */
/*!**!        DESKTOP AND STANDARD       */
/*****************************************/

/* Begin Desktop and Standard (lg:) */
@media (min-width:1024px) {
    .welcomeVideoContainer {
        position: absolute;
        top:0;
        left: 0;
        right:0;
        bottom:0;
        width:100vw;
        height:100vh;
        min-height: 100vh;
        z-index:1;
    }
    .welcomeVideoClass {
        position:absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        width:100vw;
        height:100vh;
        min-height: 100vh;
        z-index:1;
        background-color: black;
    }
    .fullPageVideoContainer {
        position: fixed;
        top: 4rem;
        right: 0;
        left:0;
        min-height:calc(100vh - 5rem);
        width:100vw;
        z-index: 50;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: center;
        background-color: black;
    }
    .fullPageVideoClass {
        position:fixed;
        top: 4rem;
        bottom:0;
        left: 0;
        right: 0;
        min-height:calc(100vh - 5rem);
        width:100vw;
        z-index:50;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        background-color: black;
    }
    .topRightVideoContainer {
        position: fixed;
        top: 0;
        right: 0;
        width:24rem;
        min-height:14rem;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        background-color: purple;
    }
    .topRightVideoClass {
        position:fixed;
        top: 4rem;
        right: 0;
        width:24rem;
        min-height:14rem;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        background-color: black;
    }
    .pipVideoContainer {
        position: fixed;
        top: 0;
        right: 0;
        width:24rem;
        min-height:14rem;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        background-color: purple;
    }
    .pipVideoClass {
        position:fixed;
        top: 4rem;
        right: 0;
        width:24rem;
        min-height:14rem;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        background-color: black;
    }
    .fullPageVideoOSD {
        top: 6rem;
    }
    .bugTopRightContainer {
        @apply opacity-10
    }
    .bugTopRightClass {
        z-index: 900;
        @apply fixed right-2 top-20 w-10 mr-4 hidden lg:block
    }
    .osdFullPage {
        @apply fixed w-full flex flex-col top-16 left-0 p-5 drop-shadow z-50
    }
    .videoControls {
        z-index: 200;
        @apply fixed flex flex-row space-x-2 bottom-6 left-6
    }
    .backToPage {
        z-index: 200;
        @apply fixed w-fit top-20 right-4 p-2 drop-shadow bg-gray-800 text-white hover:bg-gray-600
    }
    .ottButtonsContainer {
        z-index: 200;
        position: fixed;
        @apply flex flex-row space-x-2 bottom-6 right-6
    }
    .channelsFullPageContainer {
        z-index: 200;
        position: fixed;
        top: 4rem;
        right:0;
        max-height: 96rem;
        @apply w-[24rem] bottom-0 bg-opacity-80 bg-green-600 text-sm text-white pb-12
        overflow-y-scroll scroll-smooth hover:scroll-auto break-words
    }
    .channelsCloseButton {
        @apply fixed bottom-5 right-28 opacity-100 w-fit h-12 p-4 rounded-full
        text-gray-50 bg-green-900 hover:bg-green-800
        cursor-pointer font-semibold text-xs
    }
    .playlistFullPageContainer {
        z-index: 200;
        position: fixed;
        top: 4rem;
        right:0;
        max-height: 96rem;
        @apply w-[24rem] bottom-0 bg-opacity-80 bg-orange-600 text-sm text-white px-1 pb-12
        overflow-y-scroll scroll-smooth hover:scroll-auto break-words
    }
    .playlistCloseButton {
        @apply fixed bottom-5 right-32 opacity-100 w-fit h-12 p-4 rounded-full
        text-gray-50 bg-orange-900 hover:bg-orange-800 grid justify-center content-center
        cursor-pointer font-semibold text-xs
    }
    .chatFullPageContainer {
        z-index: 200;
        position: fixed;
        top: 4rem;
        right:0;
        max-height: 96rem;
        @apply w-[24rem] bottom-0 bg-opacity-80 bg-blue-600 text-sm text-white px-6 pb-12
        overflow-y-scroll scroll-smooth hover:scroll-auto break-words
    }
    .chatFullPageInput {
        @apply fixed right-20 p-2 m-2 mb-2 w-fit text-black border-2 border-gray-800 hover:border-blue-800 focus:outline-none
    }
    .chatCloseButton {
        z-index: 60;
        @apply fixed top-20 right-6 opacity-100 w-fit h-12 p-4 rounded-full
        bg-orange-800 text-gray-50 hover:bg-blue-800 hover:text-blue-200 grid justify-center content-center
        cursor-pointer font-semibold text-xs
    }
    .filtersFullPageContainer {
        z-index: 200;
        position: fixed;
        top: 4rem;
        right:0;
        max-height: 96rem;
        @apply w-[24rem] bottom-0 bg-opacity-80 bg-yellow-600 text-sm text-white px-6 pb-12
        overflow-y-scroll scroll-smooth hover:scroll-auto break-words
    }
    .filtersCloseButton {
        @apply fixed bottom-5 right-32 opacity-100 w-fit h-12 p-4 rounded-full
        text-gray-50 bg-yellow-600 hover:bg-yellow-500 grid justify-center content-center
        cursor-pointer font-semibold text-xs
    }
    .ottTopRightDisplay {
        @apply fixed top-72 right-0 h-full w-96 mt-7 px-2 overflow-y-scroll scrollbar-hide z-50 border-t border-gray-900
    }

}
/* End Desktop and Standard */
/*****************************************/
/*  ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^  */
/*!**!  THE NEW LAYOUT STYLING IS ABOVE  */
/*****************************************/


.ottDisplayDesktop {
    z-index: 200;
    @apply h-[calc(100vh-16rem)] lg:mt-3
}


.videoControlsWelcomeStandard {
    z-index: 200;
    @apply absolute flex justify-center space-x-4 bottom-36 w-full
}
@media (orientation: portrait) and (min-width: 800px) {
    .videoFullPageMobileOSD {
        top: 36rem;
        left: 2rem;
        @apply fixed
    }
    .videoControlsMobile {
        top: 33rem;
        left: 0;
        right: 0;
        @apply fixed mx-auto space-x-2 w-fit
    }
    .videoControlsWelcomeMobile {
        bottom: 12rem;
        left: 3rem;
        @apply absolute items-center mx-auto space-x-2 w-full
    }
    /*.backToPage {*/
    /*    position: fixed;*/
    /*    bottom: 2rem;*/
    /*    left: 1rem;*/
    /*}*/
    .ottDisplayMobile {
        z-index: 200;
        @apply h-[calc(100vh-18rem)] lg:mt-3
    }
    .chatForStreamPageMobile {
        z-index: 60;
        background: linear-gradient(to bottom, rgba(0,0,0,1), rgba(255,0,255,0));
        top: 32rem;
        min-height:calc(50vh + 5.5rem);
        max-height:calc(100vh - 8rem);
        @apply fixed w-full bottom-0 right-0 left-0 sm:bottom-2 text-sm text-white pl-6 pb-12
        overflow-y-auto scroll-smooth hover:scroll-auto break-words
    }
    /*.chatCloseButtonMobile {*/
    /*    top: 34rem;*/
    /*    right: 2rem;*/
    /*    z-index: 60;*/
    /*}*/
    .videoOttChatMessages {
        padding-bottom: 22rem;
    }
}
@media (orientation: portrait) and (max-width: 800px) {
    .videoFullPageMobileOSD {
        top: 22rem;
        @apply fixed left-3
    }
    .videoControlsMobile {
        top: 19rem !important;
        z-index: 200;
        @apply fixed mx-auto flex left-3 justify-center space-x-4
    }
    .videoControlsWelcomeMobile {
        bottom: 12rem;
        z-index: 200;
        @apply absolute mx-auto flex left-3 justify-center space-x-4
    }
    /*.backToPage {*/
    /*    position: fixed;*/
    /*    bottom: 7rem;*/
    /*    left: 1rem;*/
    /*}*/
    .ottDisplayMobile {
        z-index: 199;
        @apply h-[calc(100vh-10rem)] lg:mt-3
    }
    .OttButtonsMobile {
        z-index:200;
        bottom:1rem;
    }
    .chatForStreamPageMobile {
        z-index: 60;
        background: linear-gradient(to bottom, rgba(0,0,0,1), rgba(255,0,255,0));
        top: 16rem;
        height:calc(50vh + 2rem);
        /*max-height:calc(100vh - 8rem);*/
        @apply fixed w-full bottom-0 right-0 left-0 sm:bottom-2 text-sm text-white pl-6 pb-12
        overflow-y-auto scroll-smooth hover:scroll-auto break-words
    }
    .chatCloseButtonMobile {
        top: 20rem;
        z-index: 60;
    }
    .videoOttChatMessages {
        padding-bottom: 18rem;
    }
}
@media (orientation: landscape) and (max-device-height:800px) {
    .videoFullPageMobileOSD {
        position: fixed;
        top: 5rem;
        left: 1rem;
    }
    /*.backToPage {*/
    /*    @apply fixed bottom-5 left-2*/
    /*}*/
    .videoControlsMobile {
        z-index: 200;
        @apply fixed bottom-2 mx-auto flex left-3 justify-center space-x-4
    }
    .videoControlsWelcomeMobile {
        z-index: 200;
        @apply absolute bottom-36 mx-auto flex left-3 justify-center space-x-4
    }
    .OttButtonsMobile {
        bottom:3rem;
    }
    .videoOttChatMessages {
        padding-bottom: -30rem;
    }
}
@media (orientation: landscape) and (min-device-height:800px) {
    .videoFullPageMobileOSD {
        position: fixed;
        top: 5rem;
        left: 2rem;
    }
    .videoControlsMobile {
        z-index: 200;
        left: 0;
        right: 0;
        @apply fixed bottom-2 w-fit mx-auto space-x-4
    }
    .OttButtonsMobile {
        bottom:3rem;
    }
    .videoControlsWelcomeMobile {
        z-index: 200;
        bottom: 12rem;
        left: 3rem;
        @apply absolute mx-auto flex justify-center space-x-4
    }
    /*.backToPage {*/
    /*    @apply fixed bottom-5 left-2*/
    /*}*/
    .videoOttChatMessages {
        padding-bottom: 25rem;
    }

}
/*.welcomeVideoClass {*/
/*    position:absolute;*/
/*    top:0;*/
/*    left:0;*/
/*    right:0;*/
/*    bottom:0;*/
/*    width:100vw;*/
/*    height:100vh;*/
/*    min-height: 100vh;*/
/*    z-index:1;*/
/*    background-color: black;*/
/*}*/
/*.welcomeVideoContainer {*/
/*    position: absolute;*/
/*    top:0;*/
/*    left: 0;*/
/*    right:0;*/
/*    bottom:0;*/
/*    width:100vw;*/
/*    height:100vh;*/
/*    min-height: 100vh;*/
/*    z-index:1;*/
/*}*/

.videoOTT {
    z-index: 30;
    @apply fixed top-40 lg:top-72 h-fit w-full lg:w-96 right-0
}
.OttOpen {
    z-index: 30;
}
.OttOpen.mobile {
    top:11.5rem;
}
.OttClose {
    z-index: 10;
}

.ottButton {
    @apply bg-opacity-80 w-20 h-20 rounded-full cursor-pointer grid justify-center content-center text-xs
}

/* this is the OPEN chat button */
.chatButtonForStreamPage {
    z-index: 200;
    position: fixed;
    bottom:3rem;
    right:1.5rem;
}


.channelsFullPage{
    @apply w-full py-4 bg-green-700 hover:bg-green-500 text-xl text-white text-center cursor-pointer border-b border-2 border-green-800 shadow-md disabled:bg-gray-600 disabled:text-gray-300 disabled:cursor-not-allowed
}
.channelsTopRight{
    @apply w-full px-4 py-2 bg-green-700 hover:bg-green-500 text-xl text-white text-center cursor-pointer border-b border-r-2 border-green-800 shadow-md disabled:bg-gray-600 disabled:text-gray-300 disabled:cursor-not-allowed
}
.activeChannelFullPage {
    @apply bg-blue-500;
   /*background-color: darkgreen !important;*/
   /*color: #ffcc66 !important;*/
   /*border-right-color: #ffcc66 !important;*/
   /*border-right-width: 2px !important;*/
}
.activeChannelTopRight {
    background-color: darkgreen;
    color: #ffcc66;
    border-right-color: #ffcc66;
    border-right-width: 2px;
}
.channelFooterFullPage {
    @apply px-4 py-4 pb-24 bg-green-700 shadow-md
}
.channelFooterTopRight {
    @apply mt-4 pb-4 px-2
}
.playlistForStreamPageStandard {
    z-index: 200;
    position: fixed;
    top:0;
    /*bottom:2rem;*/
    right:0;
    padding: 1rem;
    min-width: 24rem;
    max-width: 24rem;
    /*old setting was full page layout... */
    /*min-width: 100vw;*/
    /*max-width: 100vw;*/
    max-height: 96rem;
}
.chatForStreamPageStandard {
    z-index: 200;
    position: fixed;
    top:0;
    /*bottom:2rem;*/
    right:0;
    padding: 1rem;
    min-width: 24rem;
    max-width: 24rem;
    max-height: 96rem;
}
.filtersForStreamPageStandard {
    z-index: 200;
    position: fixed;
    top:0;
    /*bottom:2rem;*/
    right:0;
    padding: 1rem;
    min-width: 24rem;
    max-width: 24rem;
    /*old setting was full page layout... */
    /*min-width: 100vw;*/
    /*max-width: 100vw;*/
    max-height: 96rem;
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

@media (orientation: landscape) {
    .chatForStreamPageMobile {
        z-index: 40;
        min-height: 100vh;
        max-height: 100vh;
        @apply fixed w-full bottom-0 right-0 left-0 sm:bottom-2 text-sm text-white pl-6 pb-12
        overflow-y-auto scroll-smooth hover:scroll-auto break-words
    }
}

/* this is the CLOSE chat button */
.chatForStreamPage button {
    z-index: 200;
    position: fixed;
    top:5rem;
    right:1rem;
}

@media (orientation: landscape) {
    .chatCloseButtonMobile {
        top: 6rem;
        z-index: 60;
    }
}



/* this is for the chat scrollbar in chrome */
.chatChrome::-webkit-scrollbar {
    width:3px;
}
.chatChrome::-webkit-scrollbar-track {
    background: #ddd;
}
.chatChrome::-webkit-scrollbar-thumb {
    background: #aaa;
}
.chatBig {
    z-index: 200;
    position: absolute;
    top: 4rem;
    right:0;
    bottom:0;
    min-height: calc(100vh - 6rem);
    max-height: calc(100vh - 6rem);
    padding: 2px;
    min-width: 24rem;
    max-width: 24rem;
    /*background-color: black;*/
}
.chatSmall {
    z-index: 0;
    position: absolute;
    top: 0;
    right:0;
    bottom:0;
    min-height: 100vh;
    max-height: 100vh;
    padding-top: 18rem;
    min-width: 26rem;
    max-width: 26rem;
    /*background-color: black;*/
}
.chatHidden {
    display: none;
}

@tailwind utilities;

@layer utilities {
    .pageWidth {
        margin-right: 26vw;
        z-index: 60;
        width: calc(100% - 26rem);
        margin-top: 0;
    }
    .pageWidthSmall {
        z-index: 60;
        width: 100%;
        margin-top: 14rem;
    }
    .specialPaddingRight {
        padding-right: 26rem;
    }

}
