/* resources/css/liveStreamCheatSheet.css */

.section-info {
    display: flex;
    flex-direction: row;
    align-items: center; /* Vertically centers content within the container */
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    background-color: #f0f0f0; /* Light grey background, easy on the eyes */
    border: 1px solid #ccc; /* Subtle border */
}

.section-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    background-color: #4169E1;
    border: 2px solid #273BE2;
}

.role-card {
    display: flex;
    flex-direction: row;
    align-items: center; /* Vertically centers content within the container */
    padding: 15px;
    background-color: #ffffff; /* For high contrast */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Subtle shadow for depth */
    margin-bottom: 10px;
}

.role-title {
    font-weight: bold;  /* Makes text bold */
    font-size: 1.25em;
    color: #333;
}

.role-info h3 {
    font-size: 1.4rem;
    color: #111;
    margin-bottom: 10px;
}

.role-info p, .role-info ul, .role-info ol {
    color: #222;
    font-size: 1.2rem;
    line-height: 1.6;
}

.role-info ul, .role-info ol {
    list-style-type: disc;
    margin-left: 20px;
}

.role-info ol {
    list-style-type: decimal;
}

.role-info {
    padding: 1rem;
}

.role-icon {
    flex-shrink: 0; /* Keeps icon size consistent */
}

/* Additional styles for Troubleshooting and Support section */
.troubleshooting-content .troubleshooting-card {
    display: flex;
    flex-direction: column; /* Stacks content vertically */
    align-items: flex-start; /* Aligns items to the start of the flex container */
    padding: 20px;
    background-color: #ffffff; /* Ensures high contrast */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-bottom: 20px; /* Adds more space between cards */
}

.troubleshooting-content .role-title {
    font-size: 1.4em;
    color: #333;
    margin-bottom: 10px; /* More space below the title */
}

.troubleshooting-content ul {
    list-style-type: disc;
    margin-left: 20px; /* Proper indentation for list items */
    padding-left: 0; /* Removes default padding */
}